<?xml version="1.0" encoding="UTF-8" ?>

<!-- Logging configuration for Apache Log4j2 -->
<configuration>

	<!-- Logging to a file. -->
	<appenders>
		<Console name="ToStdout" target="SYSTEM_OUT">
			<PatternLayout Pattern="[%p: %d{yyyy-MM-dd HH:mm:ss} (%F:%L)] %m%n" />
		</Console>
	</appenders>
	<Loggers>
		<Logger name="com.lmei" level="DEBUG" />
		<root>
			<AppenderRef ref="ToStdout" level="DEBUG" />
		</root>
	</Loggers>
</configuration>
