<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.0.5">
 </head>
 <body>
  <vaadin-vertical-layout width="1007px" height="465px">
   <vaadin-absolute-layout width="940px" height="385px" _id="absoluteLayout">
    <vaadin-button icon="fonticon://Vaadin-Icons/e80d" width="256px" plain-text _id="butCreateUser" :top="10px" :left="249px">
      Create User/ Tạo tài khoản 
    </vaadin-button>
    <vaadin-button icon="fonticon://Vaadin-Icons/e810" width="182px" plain-text _id="butClose" :top="10px" :left="19px">
      Close/ Đóng 
    </vaadin-button>
    <vaadin-label width="885px" height="40px" plain-text _id="lbNotification" :top="333px" :left="19px">
      Please fill in all above information/ Vui lòng nhập đầy đủ các thông tin trên 
    </vaadin-label>
    <vaadin-text-field caption="Email" width="291px" _id="textEmail" :top="101px" :left="19px"></vaadin-text-field>
    <vaadin-text-field caption="User Name/ Họ tên" width="291px" _id="textUserName" :top="197px" :left="19px"></vaadin-text-field>
    <vaadin-password-field caption="Retype password/ Nhập lại mật khẩu" width="249px" _id="textRetypePassword" :top="101px" :left="655px"></vaadin-password-field>
    <vaadin-text-field caption="Phone number/ Số điện thoại" width="256px" _id="textPhoneNumber" :top="197px" :left="357px"></vaadin-text-field>
    <vaadin-password-field caption="Password/ Mật khẩu" width="252px" _id="textPassword" :top="101px" :left="357px"></vaadin-password-field>
    <vaadin-combo-box caption="Country/ Quốc gia" text-input-allowed="false" width="248px" data-item-type="java.lang.String" _id="cbCountry" :top="197px" :left="655px">
     <option item="VN">Việt Nam</option>
     <option item="OTHER">Other country/ Nước khác</option>
    </vaadin-combo-box>
    <vaadin-button icon="fonticon://Vaadin-Icons/e706" width="370px" plain-text _id="butTermsConditions" :top="10px" :left="546px">
      Terms &amp; Conditions/ Điểu khoản sử dụng 
    </vaadin-button>
    <vaadin-text-field caption="Account Type (1-7)" enabled="false" width="291px" value="1" _id="accountType" :top="272px" :left="19px"></vaadin-text-field>
   </vaadin-absolute-layout>
  </vaadin-vertical-layout>
 </body>
</html>