<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.0.5">
 </head>
 <body>
  <vaadin-vertical-layout width="802px" height="528px">
   <vaadin-absolute-layout width="759px" height="456px">
    <vaadin-text-field caption="Email" width="396px" _id="textField" :top="99px" :left="130px"></vaadin-text-field>
    <vaadin-password-field caption="Password" width="395px" _id="passwordField" :top="188px" :left="130px"></vaadin-password-field>
    <vaadin-button width="172px" plain-text _id="button" :top="266px" :left="130px">
      Login 
    </vaadin-button>
    <vaadin-button width="183px" plain-text _id="button1" :top="267px" :left="343px">
      Create a account 
    </vaadin-button>
    <vaadin-label style-name="colored no-margin" responsive width="478px" height="36px" plain-text _id="lbNoticeMessage" :top="329px" :left="130px"></vaadin-label>
    <vaadin-label style-name="no-margin" width="231px" height="38px" plain-text _id="lbWelcome" :top="22px" :left="134px">
      Neon IoT Platform beta version, 
    </vaadin-label>
    <vaadin-link caption="by The Le Company" responsive width="168px" height="34px" _id="linkLecompany" :top="22px" :left="365px"></vaadin-link>
    <vaadin-button width="282px" plain-text _id="butResetPassword" :top="380px" :left="184px">
      Forgot Password/ Quên Mật Khẩu 
    </vaadin-button>
   </vaadin-absolute-layout>
  </vaadin-vertical-layout>
 </body>
</html>