<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.0.5">
  <meta name="package-mapping" content="com_vaadin:com.vaadin">
  <meta name="package-mapping" content="com_vaadin_addon_charts:com.vaadin.addon.charts">
 </head>
 <body>
  <vaadin-vertical-layout width="1089px" height="918px">
   <vaadin-absolute-layout width="1050px" height="870px">
    <vaadin-slider caption="Change image size" width="377px" _id="slider" :top="16px" :left="225px"></vaadin-slider>
    <vaadin-button height-full plain-text _id="button" :top="16px" :bottom="817px" :left="16px">
      Users Management 
    </vaadin-button>
    <vaadin-label caption="System database status" width="150px" height="25px" plain-text _id="label" :top="451px" :left="36px">
      Active 
    </vaadin-label>
    <vaadin-button width="186px" height="37px" plain-text _id="button1" :top="16px" :left="852px">
      Devices Management 
    </vaadin-button>
    <vaadin-label caption="User Database Status" width="142px" plain-text _id="label1" :top="450px" :left="268px">
      Active 
    </vaadin-label>
    <vaadin-label caption="Redis Database status" width="138px" plain-text _id="label2" :top="451px" :left="504px">
      Active 
    </vaadin-label>
    <vaadin-label caption="System Status" width="152px" plain-text _id="label3" :top="450px" :left="768px">
      Active 
    </vaadin-label>
    <vaadin-image caption="ALE SOAP and UHES RESTful webservices: https://neonplatform.herokuapp.com/services" width="868px" height="297px" _id="image" :top="92px" :left="79px"></vaadin-image>
    <com_vaadin_addon_charts-chart width="986px" height="310px" _id="chart" :top="529px" :left="16px"></com_vaadin_addon_charts-chart>
    <vaadin-combo-box caption="Change To New Image" height="37px" data-item-type="java.lang.String" _id="comboBox" :top="16px" :left="629px">
     <option item="Option1">Option 1</option>
     <option item="Option2">Option 2</option>
     <option item="Option3">Option 3</option>
    </vaadin-combo-box>
   </vaadin-absolute-layout>
  </vaadin-vertical-layout>
 </body>
</html>