<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.2.0">
  <meta name="package-mapping" content="com_vaadin:com.vaadin">
 </head>
 <body>
  <vaadin-css-layout responsive width="948px" height="572px">
   <vaadin-css-layout width-full height="100px">
    <vaadin-horizontal-layout width="901px" height="89px" margin-left margin-right margin-top>
     <vaadin-button width="77.24%" plain-text _id="butUserManagement" :expand>
       Users Management 
     </vaadin-button>
     <vaadin-button width="79.03%" plain-text _id="butDeviceManagement" :expand>
       Devices Management 
     </vaadin-button>
     <vaadin-button width="67.42%" plain-text _id="butLogout" :expand>
       Logout 
     </vaadin-button>
    </vaadin-horizontal-layout>
   </vaadin-css-layout>
   <vaadin-css-layout width-full height="90px">
    <vaadin-horizontal-layout width-full height="70px" margin-left margin-right>
     <vaadin-slider caption="Change image size" style-name="icon-align-top" responsive width="361px" _id="slider"></vaadin-slider>
     <vaadin-combo-box caption="Change Image" text-input-allowed="false" width="167px" data-item-type="java.lang.String" _id="comboBox">
      <option item="Option1">Option 1</option>
      <option item="Option2">Option 2</option>
      <option item="Option3">Option 3</option>
     </vaadin-combo-box>
    </vaadin-horizontal-layout>
   </vaadin-css-layout>
   <vaadin-css-layout width-full height="269px">
    <vaadin-vertical-layout spacing="false" height="236px" margin-top="false">
     <vaadin-accordion responsive height="94.68%" _id="accordion" :middle :center :expand>
      <tab caption="Neon IoT Platform Dashboard" selected>
       <vaadin-image caption="Neon IoT Platform Dashboard" style-name="align-center" responsive size-full _id="image"></vaadin-image>
      </tab>
     </vaadin-accordion>
    </vaadin-vertical-layout>
   </vaadin-css-layout>
   <vaadin-css-layout width-full height="100px">
    <vaadin-horizontal-layout width-full height="70px" margin-left margin-right>
     <vaadin-label caption="System Overall Status" width="205px" plain-text _id="label3">
       Active 
     </vaadin-label>
     <vaadin-label caption="Redis Database Status" width="138px" plain-text _id="label2">
       Active 
     </vaadin-label>
     <vaadin-label caption="User Database Status" width="136px" plain-text _id="label1">
       Active 
     </vaadin-label>
     <vaadin-label caption="System Database Status" width="91px" height="25px" plain-text _id="label">
       Active 
     </vaadin-label>
    </vaadin-horizontal-layout>
   </vaadin-css-layout>
  </vaadin-css-layout>
 </body>
</html>