<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.0.5">
  <meta name="package-mapping" content="com_vaadin:com.vaadin">
  <meta name="package-mapping" content="com_vaadin_addon_charts:com.vaadin.addon.charts">
 </head>
 <body>
  <vaadin-vertical-layout size-full>
   <vaadin-absolute-layout>
    <vaadin-slider caption="Change image size" width="261px" _id="slider" :top="16px" :left="618px"></vaadin-slider>
    <vaadin-button plain-text _id="button" :top="16px" :bottom="802px" :left="16px">
      Users Management 
    </vaadin-button>
    <vaadin-label caption="System Database Status" width="150px" height="25px" plain-text _id="label" :top="451px" :left="36px">
      Active 
    </vaadin-label>
    <vaadin-button plain-text _id="button1" :top="16px" :left="216px">
      Devices Management 
    </vaadin-button>
    <vaadin-label caption="User Database Status" width="142px" plain-text _id="label1" :top="450px" :left="268px">
      Active 
    </vaadin-label>
    <vaadin-label caption="Redis Database Status" width="138px" plain-text _id="label2" :top="451px" :left="504px">
      Active 
    </vaadin-label>
    <vaadin-label caption="System Overall Status" width="152px" plain-text _id="label3" :top="450px" :left="768px">
      Active 
    </vaadin-label>
    <com_vaadin_addon_charts-chart width="986px" height="310px" _id="chart" :top="509px" :left="16px"></com_vaadin_addon_charts-chart>
    <vaadin-combo-box caption="Change Image" text-input-allowed="false" width="167px" data-item-type="java.lang.String" _id="comboBox" :top="16px" :left="433px">
     <option item="Option1">Option 1</option>
     <option item="Option2">Option 2</option>
     <option item="Option3">Option 3</option>
    </vaadin-combo-box>
    <vaadin-accordion width="986px" height="289px" _id="accordion" :top="69px" :left="16px">
     <tab caption="Neon IoT Platform Dashboard" selected>
      <vaadin-image caption="Neon IoT Platform Dashboard" style-name="align-center" responsive width-full height="239px" _id="image"></vaadin-image>
     </tab>
    </vaadin-accordion>
    <vaadin-button plain-text _id="butLogout" :top="16px" :left="912px">
      Logout 
    </vaadin-button>
   </vaadin-absolute-layout>
  </vaadin-vertical-layout>
 </body>
</html>