<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.0.5">
 </head>
 <body>
  <vaadin-vertical-layout height="517px">
   <vaadin-absolute-layout width="958px" height="423px">
    <vaadin-button width="161px" plain-text _id="button" :top="306px" :left="19px">
      Create User 
    </vaadin-button>
    <vaadin-button width="182px" plain-text _id="button1" :top="10px" :left="19px">
      Back to Main Page 
    </vaadin-button>
    <vaadin-label width="660px" height="40px" plain-text _id="label" :top="306px" :left="247px">
      ... 
    </vaadin-label>
    <vaadin-text-field caption="Email" width="291px" _id="textField" :top="101px" :left="19px"></vaadin-text-field>
    <vaadin-text-field caption="User Name" width="233px" _id="textField1" :top="101px" :left="372px"></vaadin-text-field>
    <vaadin-password-field caption="Password" width="236px" _id="password" :top="101px" :left="668px"></vaadin-password-field>
    <vaadin-text-field caption="Country" width="233px" _id="textField2" :top="197px" :left="668px"></vaadin-text-field>
    <vaadin-date-field caption="Birthday" width="232px" _id="dateField" :top="197px" :left="372px"></vaadin-date-field>
    <vaadin-text-field caption="Phone number" width="291px" _id="textField3" :top="197px" :left="19px"></vaadin-text-field>
   </vaadin-absolute-layout>
  </vaadin-vertical-layout>
 </body>
</html>