<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.0.5">
 </head>
 <body>
  <vaadin-vertical-layout height="752px">
   <vaadin-grid-layout width="807px" height="632px" :middle :center>
    <row>
     <column>
      <vaadin-button width="165px" plain-text _id="button" :center>
        Back to Main Page 
      </vaadin-button>
     </column>
    </row>
    <row>
     <column>
      <vaadin-label caption="Just to test server push with websockets" width="284px" height="40px" plain-text _id="label" :middle :center>
        Label 
      </vaadin-label>
     </column>
    </row>
    <row>
     <column>
      <vaadin-image caption="your uploaded image" width="628px" height="317px" _id="image" :middle :center></vaadin-image>
     </column>
    </row>
    <row>
     <column>
      <vaadin-upload caption="upload an image" width="170px" _id="upload" :middle :center></vaadin-upload>
     </column>
    </row>
   </vaadin-grid-layout>
  </vaadin-vertical-layout>
 </body>
</html>