<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.0.5">
  <meta name="package-mapping" content="com_vaadin:com.vaadin">
  <meta name="package-mapping" content="com_vaadin_addon_charts:com.vaadin.addon.charts">
 </head>
 <body>
  <vaadin-vertical-layout width="1111px" height="1099px">
   <vaadin-image caption="Test webservices here: https://thangle.herokuapp.com/webservices" width="645px" height="319px" _id="image" :center></vaadin-image>
   <vaadin-grid-layout width="1064px" height="530px">
    <row>
     <column>
      <vaadin-button width="148px" height="32px" plain-text _id="button" :middle :center>
        Go to page 2 
      </vaadin-button>
     </column>
    </row>
    <row>
     <column>
      <vaadin-label caption="just to test server push - look good" width="298px" plain-text _id="label" :center>
        Label 
      </vaadin-label>
     </column>
    </row>
    <row>
     <column>
      <com_vaadin_addon_charts-chart width="798px" height="318px" _id="chart" :middle :center></com_vaadin_addon_charts-chart>
     </column>
    </row>
    <row>
     <column>
      <vaadin-combo-box caption="select a value to change image or set progress bar to 50% if checkbox enabled" width="180px" height="37px" data-item-type="java.lang.String" _id="comboBox" :middle :center>
       <option item="Option1">Option 1</option>
       <option item="Option2">Option 2</option>
       <option item="Option3">Option 3</option>
      </vaadin-combo-box>
     </column>
    </row>
    <row>
     <column>
      <vaadin-slider caption="To be set if checkbox is selected and dropbox change new value" width="373px" _id="slider" :center></vaadin-slider>
     </column>
    </row>
   </vaadin-grid-layout>
  </vaadin-vertical-layout>
 </body>
</html>