<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.0.5">
 </head>
 <body>
  <vaadin-vertical-layout height="849px">
   <vaadin-button width="101px" plain-text _id="button" :middle :center>
     Button 
   </vaadin-button>
   <vaadin-label width="229px" plain-text _id="label" :middle :center>
     Label 
   </vaadin-label>
   <vaadin-image caption="uploaded img" width="415px" height="290px" _id="image" :middle :center></vaadin-image>
   <vaadin-upload caption="try upload an image" width="170px" _id="upload" :middle :right></vaadin-upload>
  </vaadin-vertical-layout>
 </body>
</html>