<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.0.5">
 </head>
 <body>
  <vaadin-vertical-layout width="966px" height="636px">
   <vaadin-absolute-layout width="910px" height="524px">
    <vaadin-button width="182px" plain-text _id="button1" :top="2px" :left="695px">
      Back to Main Page 
    </vaadin-button>
    <vaadin-button width="203px" plain-text _id="button" :top="2px" :left="12px">
      Go to Devices Info 
    </vaadin-button>
    <vaadin-label caption="Total Users" width="192px" height="37px" plain-text _id="label1" :top="77px" :left="12px">
      Label 
    </vaadin-label>
    <vaadin-text-field caption="Email" width="355px" height="35px" _id="textField" :top="131px" :left="12px"></vaadin-text-field>
    <vaadin-button width="129px" height="35px" plain-text _id="button2" :top="131px" :left="395px">
      Query user 
    </vaadin-button>
    <vaadin-label caption="Current Active Users" width="153px" height="37px" plain-text _id="label2" :top="77px" :left="265px">
      Label 
    </vaadin-label>
    <vaadin-label caption="Current Active NODEs" width="161px" height="37px" plain-text _id="label3" :top="77px" :left="502px">
      Label 
    </vaadin-label>
    <vaadin-text-area width="874px" height="95px" _id="textArea" :top="184px" :left="0px"></vaadin-text-area>
    <vaadin-combo-box width="194px" height="35px" data-item-type="java.lang.String" _id="comboBox" :top="131px" :left="541px">
     <option item="Option1">Option 1</option>
     <option item="Option2">Option 2</option>
     <option item="Option3">Option 3</option>
    </vaadin-combo-box>
    <vaadin-button width="120px" plain-text _id="button3" :top="131px" :left="754px">
      Clear Table 
    </vaadin-button>
    <vaadin-button width="193px" plain-text _id="button4" :top="2px" :left="348px">
      Create New User 
    </vaadin-button>
   </vaadin-absolute-layout>
   <vaadin-grid width="874px" height="242px" data-item-type="com.lecompany.nnc.dto.UserViewDTO" _id="grid">
    <table>
     <colgroup>
      <col column-id="email" sortable>
      <col column-id="name" sortable>
      <col column-id="phone" sortable>
      <col column-id="address" sortable>
     </colgroup>
     <thead>
      <tr default>
       <th plain-text column-ids="email">Email</th>
       <th plain-text column-ids="name">Name</th>
       <th plain-text column-ids="phone">Phone</th>
       <th plain-text column-ids="address">Address</th>
      </tr>
     </thead>
     <tbody></tbody>
    </table>
   </vaadin-grid>
  </vaadin-vertical-layout>
 </body>
</html>