<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.0.5">
 </head>
 <body>
  <vaadin-horizontal-layout style-name="app-shell" spacing="false" responsive width="880px" height-full>
   <vaadin-css-layout style-name="navigation-bar-container" width="210px" height-full>
    <vaadin-css-layout style-name="navigation-bar" width="200px" height="451px">
     <vaadin-label style-name="logo" width-full height="46px" plain-text _id="label">
       User: 
     </vaadin-label>
     <vaadin-css-layout style-name="navigation" id="menu" width-full height="405px" _id="menu">
      <vaadin-button icon="fonticon://Vaadin-Icons/e749" style-name="borderless" responsive width-full height="20%" plain-text _id="advancedSetups">
        Advanced Setups 
      </vaadin-button>
      <vaadin-button icon="fonticon://Vaadin-Icons/e738" style-name="borderless" responsive width-full height="20%" plain-text _id="connectingDevices">
        Connecting Devices 
      </vaadin-button>
      <vaadin-button icon="fonticon://Vaadin-Icons/e957" style-name="borderless" responsive width-full height="20%" plain-text _id="allDevices">
        All Devices 
      </vaadin-button>
      <vaadin-button icon="fonticon://Vaadin-Icons/e80d" style-name="borderless" responsive width-full height="20%" plain-text _id="user">
        User Information 
      </vaadin-button>
      <vaadin-button icon="fonticon://Vaadin-Icons/e798" style-name="borderless" height="20%" responsivewidth="100%" plain-text _id="logOut">
        Log out 
      </vaadin-button>
     </vaadin-css-layout>
    </vaadin-css-layout>
   </vaadin-css-layout>
   <vaadin-css-layout size-full _id="csslayout" :center :expand>
    <vaadin-css-layout responsive width-full height="100px" _id="contain1">
     <vaadin-vertical-layout spacing="false" size-full margin-top="false" _id="contain11">
      <vaadin-label size-full _id="mainMessage" :middle :center :expand>
        Main message 
      </vaadin-label>
      <vaadin-label size-full _id="subMessage" :middle :center :expand>
        Sub message 
      </vaadin-label>
     </vaadin-vertical-layout>
    </vaadin-css-layout>
    <vaadin-css-layout responsive width="50%" height="180px" spacing="false" _id="contain2">
     <vaadin-vertical-layout size-full margin-right="false" margin-top="false" _id="contain21"></vaadin-vertical-layout>
    </vaadin-css-layout>
    <vaadin-css-layout responsive width="50%" height="180px" spacing="false" _id="contain3">
     <vaadin-vertical-layout size-full margin-left="false" margin-right="false" margin-top="false" _id="contain31"></vaadin-vertical-layout>
    </vaadin-css-layout>
    <vaadin-css-layout responsive width="50%" height="220px" _id="contain4">
     <vaadin-vertical-layout size-full margin-right="false" margin-top="false" _id="contain41"></vaadin-vertical-layout>
    </vaadin-css-layout>
    <vaadin-css-layout responsive width="50%" height="220px" _id="contain5">
     <vaadin-vertical-layout size-full margin-left="false" margin-right="false" margin-top="false" _id="contain51"></vaadin-vertical-layout>
    </vaadin-css-layout>
    <vaadin-css-layout responsive width="50%" height="220px" _id="contain6">
     <vaadin-vertical-layout size-full margin-right="false" margin-top="false" _id="contain61"></vaadin-vertical-layout>
    </vaadin-css-layout>
    <vaadin-css-layout responsive width="50%" height="220px" _id="contain7">
     <vaadin-vertical-layout size-full margin-left="false" margin-right="false" margin-top="false" _id="contain71"></vaadin-vertical-layout>
    </vaadin-css-layout>
    <vaadin-css-layout responsive width="33%" height="100px" _id="contain8">
     <vaadin-vertical-layout size-full margin-right="false" margin-top="false" _id="contain81"></vaadin-vertical-layout>
    </vaadin-css-layout>
    <vaadin-css-layout responsive width="33%" height="100px" _id="contain9">
     <vaadin-vertical-layout size-full margin-left="false" margin-right="false" margin-top="false" _id="contain91"></vaadin-vertical-layout>
    </vaadin-css-layout>
    <vaadin-css-layout responsive width="33%" height="100px" _id="contain10">
     <vaadin-vertical-layout size-full margin-left="false" margin-right="false" margin-top="false" _id="contain101"></vaadin-vertical-layout>
    </vaadin-css-layout>
   </vaadin-css-layout>
  </vaadin-horizontal-layout>
 </body>
</html>