<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.0.5">
 </head>
 <body>
  <vaadin-vertical-layout width="837px" height="665px">
   <vaadin-absolute-layout width="802px" height="294px">
    <vaadin-button width="182px" plain-text _id="button1" :top="2px" :left="578px">
      Back to Main Page 
    </vaadin-button>
    <vaadin-button width="203px" plain-text _id="button" :top="2px" :left="12px">
      Go to Devices Info 
    </vaadin-button>
    <vaadin-label caption="Total Users" width="192px" height="37px" plain-text _id="label1" :top="77px" :left="12px">
      0000 
    </vaadin-label>
    <vaadin-text-field width="367px" height="35px" value="Input user email here" _id="textField" :top="131px" :left="0px"></vaadin-text-field>
    <vaadin-label width="182px" height="35px" plain-text _id="label" :top="2px" :left="300px">
      User Infomation 
    </vaadin-label>
    <vaadin-button width="129px" height="35px" plain-text _id="button2" :top="131px" :left="395px">
      Query user 
    </vaadin-button>
    <vaadin-label caption="Current Active Users" width="153px" height="37px" plain-text _id="label2" :top="77px" :left="265px">
      0000 
    </vaadin-label>
    <vaadin-label caption="Current Active NODEs" width="161px" height="37px" plain-text _id="label3" :top="77px" :left="502px">
      0000 
    </vaadin-label>
    <vaadin-text-area width="755px" height="95px" _id="textArea" :top="184px" :left="0px"></vaadin-text-area>
    <vaadin-combo-box width="194px" height="35px" data-item-type="java.lang.String" _id="comboBox" :top="131px" :left="560px">
     <option item="Option1">Option 1</option>
     <option item="Option2">Option 2</option>
     <option item="Option3">Option 3</option>
    </vaadin-combo-box>
   </vaadin-absolute-layout>
   <vaadin-grid width="756px" height="260px" data-item-type="com.lecompany.nnc.dto.ViewUserDTO" _id="grid">
    <table>
     <colgroup>
      <col column-id="emailID" sortable>
      <col column-id="emailID2" sortable>
      <col column-id="userID" sortable>
      <col column-id="username" sortable>
     </colgroup>
     <thead>
      <tr default>
       <th plain-text column-ids="emailID">Email 1</th>
       <th plain-text column-ids="emailID2">Email 2</th>
       <th plain-text column-ids="userID">ID</th>
       <th plain-text column-ids="username">Name</th>
      </tr>
     </thead>
     <tbody></tbody>
    </table>
   </vaadin-grid>
  </vaadin-vertical-layout>
 </body>
</html>