<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.0.5">
 </head>
 <body>
  <vaadin-horizontal-layout style-name="app-shell" spacing="false" responsive size-full>
   <vaadin-css-layout style-name="navigation-bar-container" width="177px" height-full>
    <vaadin-css-layout style-name="navigation-bar" width-full height="451px">
     <vaadin-label style-name="logo" width-full height="46px" plain-text _id="label">
       User 
     </vaadin-label>
     <vaadin-css-layout style-name="navigation" id="menu" width-full height="409px" _id="menu">
      <vaadin-button icon="fonticon://Vaadin-Icons/e749" style-name="borderless" responsive id="storefront" width="147px" height="102px" plain-text _id="setupDevice">
        Setup Device 
      </vaadin-button>
      <vaadin-button icon="fonticon://Vaadin-Icons/e738" style-name="borderless" id="users" width="147px" height="81px" plain-text _id="activeDevices">
        Active Devices 
      </vaadin-button>
      <vaadin-button icon="fonticon://Vaadin-Icons/e957" style-name="borderless" id="products" width="147px" height="84px" plain-text _id="allDevices">
        All Devices 
      </vaadin-button>
      <vaadin-button icon="fonticon://Vaadin-Icons/e80d" style-name="borderless" width="147px" height="67px" plain-text _id="user">
        User 
      </vaadin-button>
      <vaadin-button icon="fonticon://Vaadin-Icons/e798" style-name="borderless" id="logout" width="147px" height="75px" plain-text _id="logOut">
        Log out 
      </vaadin-button>
     </vaadin-css-layout>
    </vaadin-css-layout>
   </vaadin-css-layout>
   <vaadin-vertical-layout style-name="content-container v-scrollable" id="content" size-full margin="false" _id="vertical" :expand>
    <vaadin-grid-layout responsive width="630px" height="89px" _id="contain1" :middle :center>
     <row>
      <column>
       <vaadin-label width="625px" height="26px" plain-text _id="mainMessage" :middle :center>
         Main Message 
       </vaadin-label>
      </column>
     </row>
     <row>
      <column>
       <vaadin-label width="625px" height="24px" plain-text _id="subMessage" :middle :center>
         Sub Message 
       </vaadin-label>
      </column>
     </row>
    </vaadin-grid-layout>
    <vaadin-grid-layout width="630px" height="32px" _id="contain2" :middle :center>
     <row>
      <column></column>
      <column></column>
      <column></column>
      <column></column>
     </row>
     <row>
      <column></column>
      <column></column>
      <column></column>
      <column></column>
     </row>
     <row>
      <column></column>
      <column></column>
      <column></column>
      <column></column>
     </row>
    </vaadin-grid-layout>
    <vaadin-grid-layout responsive width="630px" height="64px" _id="contain3" :middle :center>
     <row>
      <column></column>
      <column></column>
      <column></column>
      <column></column>
     </row>
    </vaadin-grid-layout>
    <vaadin-grid-layout responsive width="630px" height-full _id="contain4" :middle :center :expand>
     <row>
      <column></column>
      <column></column>
      <column></column>
      <column></column>
     </row>
     <row>
      <column></column>
      <column></column>
      <column></column>
      <column></column>
     </row>
     <row>
      <column></column>
      <column></column>
      <column></column>
      <column></column>
     </row>
    </vaadin-grid-layout>
    <vaadin-grid-layout responsive width="630px" height-full _id="contain5" :middle :center :expand>
     <row>
      <column></column>
      <column></column>
      <column></column>
      <column></column>
     </row>
     <row>
      <column></column>
      <column></column>
      <column></column>
      <column></column>
     </row>
     <row>
      <column></column>
      <column></column>
      <column></column>
      <column></column>
     </row>
    </vaadin-grid-layout>
    <vaadin-grid-layout responsive width="630px" height-full _id="contain6" :middle :center :expand>
     <row>
      <column></column>
      <column></column>
      <column></column>
      <column></column>
     </row>
     <row>
      <column></column>
      <column></column>
      <column></column>
      <column></column>
     </row>
    </vaadin-grid-layout>
   </vaadin-vertical-layout>
  </vaadin-horizontal-layout>
 </body>
</html>