<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletBasic</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddUser</display-name>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>sample.AddUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/AddUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeController</display-name>
    <servlet-name>EmployeeController</servlet-name>
    <servlet-class>sample.EmployeeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeController</servlet-name>
    <url-pattern>/url-login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListUser</display-name>
    <servlet-name>ListUser</servlet-name>
    <servlet-class>sample.ListUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListUser</servlet-name>
    <url-pattern>/ListUser</url-pattern>
  </servlet-mapping>
  <!--khai báo một HttpSessionListener --> 
  <listener>
  <listener-class>sample.MySessionListener</listener-class>
  </listener>
  <!--khai báo một ServletRequestListener --> 
  <listener>
  <listener-class>sample.MyServletListener</listener-class>
  </listener>
  <!--thời gian timeout của session --> 
  <session-config>
  <session-timeout>
  30
  </session-timeout>
  </session-config>
</web-app>